__pycache__/
.coverage
.hegel/
.pytest_cache/
.tox/*
*.egg-info
*.pyc
cover/*
dist/*
etna.log
etna/__pycache__/
etna/.venv/
etna/etna_runner/__pycache__/
etna/tests/__pycache__/
htmlcov/*
MANIFEST
progress.jsonl
/.hegel
/etna.log
/progress.jsonl
/.marauders
/uv.lock
/etna/.venv
/etna/etna.log
/etna/.hypothesis
*.egg-info/
